body {
  background: url("../images/collection.jpg");
  background-size: cover;
  background-position: relative;
  font-family: 'Cinzel', serif;
}

.creatureImage {
  border: 3px solid white;
  margin: 25px;
}

.main-content {
  background-color: rgba(255,255,255,.7);
  color: black;
  border-radius: 50px;
  text-align: center;
  margin: 5% auto;
  padding: 20px;

}

.creature img {
  height:250px;
}

.creature p {
  padding: 5px;
  margin: 10px;
}

.userData {
  margin: 20px;
  padding:10px;
}

input{
  margin-bottom: 5px;
}

.userOnPage{
  padding:25px;
  width:200px;
  height: 200px;
  border: 2px white solid;
  background: rgba(200,180,0,.2);
  display:inline-block;
  text-align:center;
  margin: 10px;
}

.madlib {
  font-style: italic;
}
.option{
  margin: 25px auto;
  font-size: 1.2em;
  font-weight:400;
  height:30px;
}

.option:hover{
  font-size: 1.5em;
  font-weight:800;
}

#takeQuiz, .deleteBtn, .editBtn, .btn, #formSubmit {
  margin: 10px;
}

.question {
  font-size: 20px;
}
