body {
  background: url("https://s-media-cache-ak0.pinimg.com/originals/bd/3f/6e/bd3f6eee17cc13b639675e185082420f.jpg");
  background-size: cover;
  background-position: relative;
  font-family: 'Cinzel', serif;
}

.creatureImage {
  border: 5px solid black;
  margin: 25px;
}

.main-content {
  background-color: rgba(255,255,255,.7);
  color: black;
  border-radius: 50px;
  text-align: center;
  margin: 5% auto;
  padding: 20px;

}

.creature img {
  height:250px;
}

.creature p {
  padding: 5px;
  margin: 10px;
}

.userData {
  margin: 20px;
  padding:10px;
}

input{
  margin-bottom: 5px;
}

.userOnPage{
  padding:25px;
  width:200px;
  height: 200px;
  border: 2px black solid;
  background: rgba(0,255,50,.2);
  display:inline-block;
  text-align:center;
}

.madlib {
  font-style: italic;
}
.option{
  margin: 25px auto;
}

#takeQuiz {
  margin: 10px;
}

.question {
  font-size: 20px;
}
