.main-content{
  text-align: center;
  margin: 10% auto;
  width: 80%;
}

.creature img {
  height:250px;
}

.creature p {
  padding: 5px;
  margin: 10px;
}

.userData {
  margin: 20px;
  padding:10px;
}

input{
  margin-bottom: 5px;
}

.userOnPage{
  padding:25px;
  width:200px;
  height: 200px;
  border: 2px black solid;
  background: rgba(0,255,50,.2);
  display:inline-block;
  text-align:center;
}

.madlib {
  font-style: italic;
}
.option{
  margin: 25px auto;
}
