.main-content{
  text-align: center;
  margin: 10% auto;
  width: 80%;
}

.creature img {
  height:250px;
}

.creature p {
  padding: 5px;
  margin: 10px;
}

.userData {
  margin: 20px;
  padding:10px;
}

input{
  margin-bottom: 5px;
}
